#root {
    padding: 2rem;
    text-align: center;
    width: 100%;
}

table {
    margin-top: 40px;
}

table,
th,
td {
    height: auto;
}

img {
    width: 50px;
}

th {
    cursor: pointer;
}

header {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}
